@import "tailwindcss";

header {
  padding-top: max(var(--spacing) * 2, env(safe-area-inset-top));
}

footer {
  padding-bottom: max(var(--spacing) * 3, env(safe-area-inset-bottom));
}

.fab {
  margin-bottom: calc(var(--spacing) * 22 + env(safe-area-inset-bottom));
}

@theme {
  --color-red: #ee5555;
  --color-lime: #77dd77;
  --color-blue: #0d0e21;
  --color-black: #000000;
  --color-mid-blue: #18183c;
  --color-dark-blue: #0a0c1a;
  --color-light-blue: #2f2f50;
  --color-light-grey: #414351;
  --color-white: rgba(255, 255, 255, 0.8);
  --shadow-thin-border: 0 0.5px 0 0 var(--color-light-grey);
  --spacing-safe-area-inset-top: env(safe-area-inset-top);
  --spacing-safe-area-inset-bottom: env(safe-area-inset-bottom);
}
